html,
body {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-bottom: 50px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: background 0.2s linear;
}

a {
	color: inherit;
}

li {
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

p {
	line-height: 27px;
}

.button,
button {
	background: var(--primary);
	border: none;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	transition: transform ease-out 0.25s;
	box-shadow: var(--boxShadow);
}

.button:hover,
button:hover {
	transform: scale(1.07);
}

input,
select,
textarea {
	background: none;
	border: 2px solid var(--borderColor);
	color: var(--color);
	font-size: 1rem;
	padding: 10px 12px;
	border-radius: 5px;
	width: 100%;
}

input[type='color'] {
	height: 60px;
	width: auto;
	min-width: 80px;
}

input:autofill {
	background-color: var(--backgroundColor) !important;
	font-size: 1rem;
	font-weight: bold;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

textarea {
	resize: vertical;
	min-height: 120px;
	font-family: Arial, Helvetica, sans-serif;
}

form p,
.form p {
	margin: 20px 0 10px 0;
	color: var(--lightTextColor);
	font-weight: bold;
}

label {
	cursor: pointer;
	display: inline-block;
}

.lightText {
	color: var(--lightTextColor);
}

.pad {
	padding: 15px;
}

.marg {
	margin: 15px;
}

.aCenter {
	text-align: center;
}

.hasShadow {
	box-shadow: var(--boxShadow);
}

.skeleton {
	background: var(--faintColor);
	border-radius: 6px;
	animation: flash 2s steps(5, start) infinite;
}
@keyframes flash {
	from {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}

h5 {
	display: block;
	margin: 10px;
	background: #ffbac9;
	color: #cf2a4e;
	border-radius: 5px;
	font-size: 1rem;
	padding: 10px 20px;
}
